In [1]:
import numpy as np

In [2]:
f=r'C:\Users\dudya\Downloads\tipsf - tipsf.csv'

In [3]:
values=np.genfromtxt(f,delimiter=',',skip_header=True)

In [4]:
values

array([[  0.  ,  16.99,   1.01, ...,   1.  ,   0.  ,   2.  ],
       [  1.  ,  10.34,   1.66, ...,   1.  ,   0.  ,   3.  ],
       [  2.  ,  21.01,   3.5 , ...,   1.  ,   0.  ,   3.  ],
       ...,
       [241.  ,  22.67,   2.  , ...,   0.  ,   0.  ,   2.  ],
       [242.  ,  17.82,   1.75, ...,   0.  ,   0.  ,   2.  ],
       [243.  ,  18.78,   3.  , ...,   2.  ,   0.  ,   2.  ]])

# 1 what is the total bill value

In [5]:
## Q1
sum_total_bill_values=np.sum(values[:,1])
sum_total_bill_values

4827.77

# 2 what is the total tip value

In [6]:
## Q2
sum_of_tip_values=np.sum(values[:,2])
sum_of_tip_values

731.5799999999999

# 3 count how many sun,sat,thu,fri are there

In [7]:
## Q3
fifth_column=values[:,5]
unique_values,counts=np.unique(fifth_column,return_counts=True)

In [8]:
unique_values,counts

(array([0., 1., 2., 3.]), array([87, 76, 62, 19], dtype=int64))

In [9]:
for i,j in zip(unique_values,counts):
    print(f'{int(i)},{j}')

0,87
1,76
2,62
3,19

# 4 how many smokers are there

In [10]:
## Q4
smokers=np.sum(values[:,4])
smokers

93.0

In [11]:
fourth_column=values[:,4]
unique_values,counts=np.unique(fourth_column,return_counts=True)

In [12]:
for i,j in zip(unique_values,counts):
    print(f'{int(i)},{j}')

0,151
1,93

# 5 what is the avg tip given by female and male

In [13]:
## Q5
tip_column=values[:,2]
gender_column=values[:,3]

males=np.mean(tip_column[gender_column==0])
females=np.mean(tip_column[gender_column==1])
print(f'avg tip of females: {females}')
print(f'avg tip of males: {males}')

avg tip of females: 3.0896178343949043
avg tip of males: 2.8334482758620685

# 6 how much amount have been spent by female and male

In [16]:
total_bill_column = values[:,1]
gender_column = values[:, 3]
male = np.sum(total_bill_column[gender_column == 0])
female = np.sum(total_bill_column[gender_column == 1])
print(f"Total bill spent by males:",male)
print(f"Total bill spent by females:",female)

Total bill spent by males: 1570.9499999999996
Total bill spent by females: 3256.8199999999997

# 7  what is mean and max tip given

In [17]:
tip_column = values[:, 2]

min_tip = np.min(tip_column)
max_tip = np.max(tip_column)

print(f"The min tip given is : {min_tip}")
print(f"The max tip given is : {max_tip}")

The min tip given is : 1.0
The max tip given is : 10.0

# 8 how many male and female are going for dinner and lunch

In [18]:
gender_column = values[:, 3]
time_column = values[:, 6]

male_lunch_count = np.sum((gender_column == 0) & (time_column == 1))
female_lunch_count = np.sum((gender_column == 1) & (time_column == 1))

male_dinner_count = np.sum((gender_column == 0) & (time_column == 0))
female_dinner_count = np.sum((gender_column == 1) & (time_column == 0))
print("males going for lunch:", male_lunch_count)
print("females going for lunch:", female_lunch_count)
print("males going for dinner:", male_dinner_count)
print("females going for dinner:", female_dinner_count)

males going for lunch: 35
females going for lunch: 33
males going for dinner: 52
females going for dinner: 124

# 9 find out the avg size

In [19]:
size_column = values[:, 7]
avg_size = np.mean(size_column)
print(f"The Avg size is : {avg_size}")

The Avg size is : 2.569672131147541

# 10 how many females smokes are there and male smokes are there

In [20]:
gender_column = values[:, 3]
smokers = values[:, 4]
male_smokers_count = np.sum((gender_column == 0) & (smokers == 1))
female_smokers_count = np.sum((gender_column == 1) & (smokers == 1))
print("male smokers:", male_smokers_count)
print("female smokers:", female_smokers_count)

male smokers: 33
female smokers: 60