# List
* Creating a List
* You can create a list by enclosing items in square brackets [ ].

Accessing Elements:
* You can access elements in a list using indexing. Python uses zero-based indexing, so the first element is at index 0. Negative indexing is also possible, where -1 refers to the last element, -2 to the second-to-last, and so on.

Slicing:
* You can extract a portion of the list using slicing.

* Modifying Lists:
* You can change the value of a specific element by assigning a new value.

Adding and Removing Elements:
* Appending: Add an element to the end of the list using append(). Inserting: Insert an element at a specific position using insert(). Removing: Remove an element by value using remove(). Popping: Remove and return an element by index using pop().

List Length:
* You can find the length of a list using len().

Iterating through a List:
* You can use a loop to go through each item in a list.

In [1]:
g = [ ]
print(g, type(g), len(g), id(g), hex(id(g)), sep='\n') #length of empty string is zero

[]
<class 'list'>
0
1669666324288
0x184bfde3f40

In [2]:
l = list()
print(l, type(l), len(l), hex(id(l)), sep = '\n')

[]
<class 'list'>
0
0x184bfd14bc0

In [7]:
l = ['pavan'] # if we use sqaure braces it will directly take the string
print(l, type(l), len(l), hex(id(l)), sep = '\n')

['pavan']
<class 'list'>
1
0x184bfd72940

In [8]:
l = list('pavan') # it will take the string into the sub-strings if we use the list "keyword" and add to the new string.
print(l, type(l), len(l), hex(id(l)), sep = '\n')

['p', 'a', 'v', 'a', 'n']
<class 'list'>
5
0x184bfde0dc0

In [11]:
S = ['pavan', 7, 7.2, 5-3j, 'six', True, print, range]
S

['pavan',
 7,
 7.2,
 (5-3j),
 'six',
 True,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 range]

# Indexing and Slicing in Lists

     
   examples

In [12]:
list1 = ["naveen", "bhanu", "karthik"] 
list2 = ["bhanu", 77, True, 4.0, "Male"]
print(list2[0], list2[-1])    #indexing
print(list2[::], list2[::-1], sep ='\n')      #slicing

print(list1, type(list1), id(list1), sep ='\n')
print(list2, type(list2), id(list2), sep ='\n')

bhanu Male
['bhanu', 77, True, 4.0, 'Male']
['Male', 4.0, True, 77, 'bhanu']
['naveen', 'bhanu', 'karthik']
<class 'list'>
1669666318208
['bhanu', 77, True, 4.0, 'Male']
<class 'list'>
1669666344640

In [13]:
y='rajesh'
y[0],y[::],y[::-1]

('r', 'rajesh', 'hsejar')

In [15]:
x = 'sanju srisailam'
list(x)    # takes each individually

['s', 'a', 'n', 'j', 'u', ' ', 's', 'r', 'i', 's', 'a', 'i', 'l', 'a', 'm']

In [16]:
set(list(x)) #takes unique elements only

{' ', 'a', 'i', 'j', 'l', 'm', 'n', 'r', 's', 'u'}

In [17]:
len(set(list(x)))

10

# Nested list
* A list within another list is referred to as a nested list in Python. We can also say that a list that has other lists as its elements is a nested list.

In [19]:
l=[1,2,3,[11,22,33]]

print(l, type(l), len(l), hex(id(l)), sep ='\n')

[1, 2, 3, [11, 22, 33]]
<class 'list'>
4
0x184bfde8b00

In [20]:
type(l[3]), l[3], l[3][0], l[3][::-1], l[3][::-2], l[3][2]

(list, [11, 22, 33], 11, [33, 22, 11], [33, 11], 33)

# Range

In [24]:
r = range(1,22)
print(r, type(r), len(r), hex(id(r)), sep='\n')

range(1, 22)
<class 'range'>
21
0x184bfd6fd50

In [25]:
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [26]:
r = range(22,0,-1)
print(list(r), type(r), len(r), hex(id(r)), sep='\n')
# included numbers from 20 to 1 backwards , didnt include 0 , step was -1 so it is in decreasing order.

[22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'range'>
22
0x184bfd6fab0

In [27]:
r = range(20, 1, -1)
print(r, type(r), len(r), hex(id(r)), sep = '\n')

range(20, 1, -1)
<class 'range'>
19
0x184bfd6f8d0

In [28]:
list(r)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [31]:
range(5) #if we mention only 1 number so range takes it as end point and starts it from 0.

range(0, 5)

In [34]:
list(range(0,22,1)), list(range(0,15))

([0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])

In [35]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# append()
* the append() method is used to add an element to the end of a list. Lists are a built-in data type in Python that can hold multiple values. The append() method is a list method that modifies the list in place by adding the specified element to the end of the list.
* Here's the basic syntax for the append() method:

* list_name.append(element) list_name: The name of the list to which you want to add an element. element: The value you want to add to the end of the list.

    Example:

In [46]:
my_list = [11,22,33]
my_list.append(44)
print(my_list)

[11, 22, 33, 44]

In [47]:
my_list = [11,22,33,44]
my_list.append([55,66])  # Appends the entire list as a single element
print(my_list)

[11, 22, 33, 44, [55, 66]]

# Extend()

In [50]:
my_list = [55,22,33,44]
my_list.extend([11,66])  # Extends the list with individual elements
print(my_list)

[55, 22, 33, 44, 11, 66]

In [51]:
my_list = [55,66,88]
my_list = my_list + [22,11]
print(my_list)

[55, 66, 88, 22, 11]

# Insert()
It allows you to insert an element at a specific index in a list.

In [53]:
my_list = [5,6,77,8]
my_list.insert(2,44)  # Inserts 6 at index 2
print(my_list)

[5, 6, 44, 77, 8]

In [61]:
my_list=[1,2,3,4,5]
my_list.insert(3,7)
print(my_list)

[1, 2, 3, 7, 4, 5]

# Count()

In [63]:
[1,2,3,4,1,2,3,5,6,1,2,7,5].count(1)

3

# Remove()
* Removes given element's first occurance from left to right. 

syntax: list.remove('a')

In [64]:
x  = list('malayalam')
x

['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [66]:
x.remove('l')
x

['m', 'a', 'y', 'a', 'l', 'a', 'm']

# Pop()
* pop gives back the last value from the list by default and removes that value from the list if you print it after that. If you mention the index number so it will give it back and remove kit from the list.

In [67]:
l = [0,1,2,3,4,5] # 5 will be taken out and return to user.
l.pop()

5

In [9]:
l = ['apple', 'banana', 'cherry']
l.pop(1)
print(l)

['apple', 'cherry']

In [17]:
l.pop()

'apple'