# Sets
* set is a cluster
* It is immutable
* It has unique values but not the duplicates
* we declare the sets by using {}
* Sets have methods that are unique to sets like union,intersection etc
* An empty set gives an empty dictionary


creating an empty set

In [1]:
x=set()
x

set()

In [3]:
print(x,type(x),len(x),sep='\n')

{}
<class 'dict'>
0

In [4]:
x={1,2.2,3+3j,'four',print,range,True}
print(x,type(x),len(x),hex(id(x)),sep='\n')

{1, 2.2, <built-in function print>, 'four', (3+3j), <class 'range'>}
<class 'set'>
6
0x1cac2e765e0

In [8]:
y={4,5,8j,'prani'}
print(y,type(y),len(y),hex(id(y)),sep='\n')

{8j, 4, 5, 'prani'}
<class 'set'>
4
0x1cac2e76a40

In [9]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [11]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# remove()
* This method removes the element in a set
* The syntax is set.remove()

In [15]:
x={44,0,88}#accesing the remove method by removing 0
x.remove(0)
x

{44, 88}

In [18]:
x={44,88}
x.remove(88)
x

{44}

In [20]:
x=[1,2,3,4,5]
x.remove(5)
x

[1, 2, 3, 4]

# discard()
* It removes the element from a set
* the syntax isset.discard()

In [23]:
x={1,2,3,4,5}# discarding the element froma set
x.discard(4)
x

{1, 2, 3, 5}

In [24]:
x={5,6,7,8}
x.discard(9)
x

{5, 6, 7, 8}

# pop() 
* This method removes the first element in sets
* Generally,it pops the random value from a set
* The general syntax isset.pop()

In [25]:
p={1,4,6,9}
y=p.pop()

y,p

(1, {4, 6, 9})

In [30]:
x = ['apple', 'banana', 'cherry']
x.pop(1)

'banana'

In [33]:
x = ['pavan', 'karthik', 'bhanu']
x.pop(1)
x

['pavan', 'bhanu']

# clear()
* This method clears all the entire set and returns an empty set
* the syntax is set.clear()

In [35]:
x={'karthik','pavan','naveen'}
x.clear()
x

set()

In [36]:
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

# isdisjoint()
* This checks whether the sets are disjoint or not
* The syntax is set.isdisjoint()

In [38]:
a={6,5,4,3}
b={5,6,7,8}
c=set(range(1,8))
d={'a','b','c','d'}
print(a,b,c,d,sep='\n')

{3, 4, 5, 6}
{8, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{'b', 'a', 'c', 'd'}

In [40]:
a.isdisjoint(b)   #the two sets are joint sets

False

In [42]:
c.isdisjoint(d)   # these sets are disjoint sets

True

In [43]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

# difference ()
* It remoes the common elements of which we are calling on
* The general syntax is set.difference()

In [44]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a.difference(b)

{1, 2, 3}

In [45]:
a={1,2,3,4,5}
b={4,5,6,7,8}
b.difference(a)

{6, 7, 8}

# add()
* This method is similar to append in list
* This adds the element to a set
* The syntax is set.add()

In [50]:
x={11,22,33,44}
x.add(66)
x

{11, 22, 33, 44, 66}

In [49]:
x={'karthik','pavan'}
x.add('bhanu')
x

{'bhanu', 'karthik', 'pavan'}

# update()
* This method is similar to extend method in list
* The syntax is set.update()

In [55]:
x={'pavan'}         #update method using for integers          
x.update(('bhanu','naveen'))
x

{'bhanu', 'naveen', 'pavan'}

In [56]:
x={'pavan'}        #update method using for strings
x.update('karthik')
x

{'a', 'h', 'i', 'k', 'pavan', 'r', 't'}

# union ()
* This joins the sets without repeating the common elements
* The syntax is set.union()

In [58]:
x={11,22,33,44,55}
y={44,55,66,77,88}
x.union(y)

{11, 22, 33, 44, 55, 66, 77, 88}

In [59]:
y.union(x)

{11, 22, 33, 44, 55, 66, 77, 88}

# intersection ()
* This reuturns the common elements only..
* The syntax isset.intesection()

In [60]:
x.intersection(y)

{44, 55}

In [61]:
x={'pavan'}
y={'karthik'}
x.intersection(y)

set()

# issuperset(), issubset()
* this methods returns the output as a true or false
* the syntax is set.issuperset(),set.issubset()

In [62]:
x={range(15)}
y={5,6,7,9,0}
x.issuperset(y)

False

In [64]:
x={range(27)}
y={5,6,7,9,0}
y.issuperset(x)

False

In [65]:
x={range(15)}
y={5,6,7,9,0}
x.issubset(y)

False

In [66]:
y.issubset(x)

False

In [67]:
y.issuperset(x)

False

In [68]:
x={1,2,3,4}
y={1,2,3,4,5,6,7,8,9,}
x.issubset(y)

True

In [69]:
x.issuperset(y)#x is not superset of y

False

In [70]:
y.issuperset(x)# y is superset of x

True

# symmetric_difference()
* This method removes the common elements from sets and combines the sets
* The syntax is set.symmetric_difference()

In [71]:
x={1,2,3,4,5}
y={5,6,7,8,9}
x.symmetric_difference(y)

{1, 2, 3, 4, 6, 7, 8, 9}

In [72]:
x

{1, 2, 3, 4, 5}

In [73]:
y

{5, 6, 7, 8, 9}

# intersection_update()
* This is similar to intersection and update method it combines both the intersection and update sets
* The syntax isset.intersection_update()

In [74]:
x={1,2,3,4,5}
y={5,6,7,8,9}
x.intersection_update(y)
x

{5}

In [75]:
x

{5}

In [78]:
x={1,2,3,4,5}
y={5,6,7,8,9}
y.intersection_update(x)
y

{5}

In [79]:
y

{5}

In [80]:
x={'apple'}
y={'banana'}
x.intersection_update(y)
x

set()

# Symmetric_difference_update()
* This removes the common elements from the sets and then update the sets
* The syntax isset.symmetric_differnce_update()

In [81]:
x={2,3,54}
y={3,2,4,6}
x.symmetric_difference_update(y)
x

{4, 6, 54}

# Dictionary
* Dictionaries are key and value pairs always enclosed in flower braces{ } and seperated by a colon:
* keys are mapped to their values
* It is unordered and mutable
* There may be similar values but not the similar keys<\u>
* { } is an empty dictionary
* dict is class of dictionary
* The geneal syntax is {key:value}
* The keys are always immtable and the values may be mutable or immutable

In [82]:
x={1:[1,2,3],'hello':(4,5,6),}
x

{1: [1, 2, 3], 'hello': (4, 5, 6)}

In [83]:
x={1:[1,2,3],'hello':(4,5,6),'hello':['hii'],}#last key whuch is of same key will be updated or override
x

{1: [1, 2, 3], 'hello': ['hii']}

In [84]:
x={1:[1,2,3],'hello':['hii'],}
x['hello']

['hii']

In [85]:
x[1][2]

3

In [86]:
x[1][-1]

3

In [87]:
x['hello'][-1]# we are moving from right to left

'hii'

In [88]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [89]:
x['hello']

['hii']

In [90]:
x['hello'][0]

'hii'

In [91]:
x['hello'][0][-1]

'i'