# strings()
* A String is a data structure in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Strings are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

# capitalize()

In [28]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [29]:
txt = "my selp pavan kumar"
x= txt.capitalize()
print(x)

My selp pavan kumar

# Syntax

* The first character is converted to upper case, and the rest are converted to lower case:

In [24]:
txt = "karthik is a romantic boy!"
x = txt.capitalize()
print (x)

Karthik is a romantic boy!

In [25]:
txt = "karthik age is 28."
x = txt.capitalize()
print (x)

Karthik age is 28.

In [27]:
txt = "pavan karthik bhanu naveen"
x= txt.capitalize()
print(x)

Pavan karthik bhanu naveen

# casefold()

In [11]:
txt = "PAVAN KUMAR IS A GOOD BOY!"
x = txt.casefold()
print(x)

pavan kumar is a good boy!

In [10]:
txt="bhanu pavan naveen"
x=txt.casefold()
print(x)

bhanu pavan naveen

# center()
* The casefold() method returns a string where all the characters are lower case.
* This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will * more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

Syntax string.casefold()

In [17]:
txt = "pavan"
x = txt.center(20)
print(x)

       pavan

In [19]:
txt = "pavan"
x = txt.center(20, "7")
print(x)

7777777pavan77777777

In [23]:
txt ="karthik"
x = txt.center(50,'8')
print(x)

888888888888888888888karthik8888888888888888888888

# count()
* The count() method returns the number of times a specified value appears in the string.
Syntax string.count(value, start, end)

# Parameter Values
value Required. A String. The string to value to search for
Optional. An Integer. The position to start the search. Default is 0
end Optional. An Integer. The position to end the search. Default is the end of the string

In [34]:
x = "I love you, you are my favorite person"
x = txt.count("love")
print(x)

1

In [35]:
x = "I love you, you are my favorite person"
x = txt.count("you", 10, 24)
print(x)

1

In [39]:
x="i love you, you are my favorite person"
y="i love apples,apple are my fevorite furts"
print(x,y)

i love you, you are my favorite person i love apples,apple are my fevorite furts

# encode()
* The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.
* Syntax string.encode(encoding=encoding, errors=errors)

# Parameter Values
* encoding Optional. A String specifying the encoding to use. Default is UTF-8
* errors Optional. A String specifying the error method. Legal values are:
* 'backslashreplace'--->uses a backslash instead of the character that could not be encoded
* 'ignore' ----> ignores the characters that cannot be encoded
* 'namereplace' ----> replaces the character with a text explaining the character
* 'strict' ----> Default, raises an error on failure
* 'replace' ----> replaces the character with a questionmark
* 'xmlcharrefreplace'-> replaces the character with an xml character

In [14]:
x = "My name is Ståle"
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'Hello, welcome to my world.'
b'Hello, welcome to my world.'
b'Hello, welcome to my world.'
b'Hello, welcome to my world.'
b'Hello, welcome to my world.'

In [15]:
x = "My name is Ståle"
x = txt.encode()
print(x)

b'Hello, welcome to my world.'

# endswith()
* The endswith() method returns True if the string ends with the specified value, otherwise False.
* Syntax string.endswith(value, start, end)

# Parameter Values
* value Required. The value to check if the string ends with
* start Optional. An Integer specifying at which position to start the search
* end Optional. An Integer specifying at which position to end the search

In [16]:
x = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

In [18]:
txt.endswith("my world.", 5, 11)

False

# find()
* The find() method finds the first occurrence of the specified value.

* The find() method returns -1 if the value is not found.

* find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

Syntax string.find(value, start, end)

In [19]:
x = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [21]:
txt.find("e")

1

In [8]:
txt.find("e", 5, 10)

8

# index()
* The index() method finds the first occurrence of the specified value.

* The index() method raises an exception if the value is not found.

* The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

Syntax string.index(value, start, end)

# Parameter Values
* value -----> Required. The value to search for
* start------> Optional. Where to start the search. Default is 0
* end --------> Optional. Where to end the search. Default is to the end of the string

In [22]:
x = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [24]:
txt.index("e")

1

In [11]:
 txt.index("e", 5, 10)

8

# isdecimal()
* The isdecimal() method returns True if all the characters are decimals (0-9).

* This method can also be used on unicode objects. See example below.

Syntax string.isdecimal()

In [13]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G
print(a.isdecimal())
print(b.isdecimal())

True
False

# isspace()
* The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.
* Syntax string.isspace()

In [25]:
txt = "   s   "
x = txt.isspace()
print(x)

False

# istitle()
* The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

* and numbers are ignored.

Syntax string.istitle()

In [26]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

# join()
* The join() method takes all items in an iterable and joins them into one string.

* A string must be specified as the separator.

Syntax string.join(iterable)

# Parameter Values
* iterable------>Required. Any iterable object where all the returned values are strings

In [27]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
x

'nameTESTcountry'

# ljust()
* The ljust() method will left align the string, using a specified character (space is default) as the fill character.
* Syntax string.ljust(length, character)

# Parameter Values
* length---->Required. The length of the returned string
* character---->Optional. A character to fill the missing space (to the right of the string). Default is " " (space).

In [29]:
txt = "banana"
x = txt.ljust(20, "#")
print(x)

banana##############

# lower()
* The lower() method returns a string where all characters are lower case.

* Symbols and Numbers are ignored.

* Syntax string.lower()

In [30]:
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [31]:
txt = "i love you maaa"
txt.lower()

'i love you maaa'

# lstrip()
* The lstrip() method removes any leading characters (space is the default leading character to remove)

Syntax string.lstrip(characters)

# Parameter Value
* characters------>Optional. A set of characters to remove as leading characters

In [32]:
txt = ",,,,,ssaaww.....banana"
x = txt.lstrip(",.asw")
print(x)

banana

# partition()
* The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

* The first element contains the part before the specified string.

* The second element contains the specified string.

* The third element contains the part after the string.

( Note: This method searches for the first occurrence of the specified string.)

Syntax string.partition(value)

# Parameter Values
* value----->Required. The string to search for

In [33]:
txt = "I could eat bananas all day"
x = txt.partition("apples")
print(x)

('I could eat bananas all day', '', '')

In [34]:
txt = "nani"
txt.partition('na')

('', 'na', 'ni')

# replace()
* The replace() method replaces a specified phrase with another specified phrase.
* (Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.)

Syntax string.replace(oldvalue, newvalue, count)

# Parameter Values
* oldvalue--->Required. The string to search for
* newvalue---->Required. The string to replace the old value with
* count---->Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [35]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)

three three was a race horse, two two was three too.

In [36]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
x

'three three was a race horse, two two was one too.'

# rfind()
* The rfind() method finds the last occurrence of the specified value.

* The rfind() method returns -1 if the value is not found.

* The rfind() method is almost the same as the rindex() method. See example below.

Syntax string.rfind(value, start, end)

# Parameter Values
* value----->Required. The value to search for
* start------>Optional. Where to start the search. Default is 0
* end----->Optional. Where to end the search. Default is to the end of the string

In [44]:
txt = "Hello, welcome to my world."
x = txt.rfind("e")
print(x)

13

In [45]:
txt.rfind("t")

15

In [40]:
txt = "Mi casa, su casa."
x = txt.rfind("casa")
x

12

# rindex()
* The rindex() method finds the last occurrence of the specified value.

* The rindex() method raises an exception if the value is not found.

* The rindex() method is almost the same as the rfind() method. See example below.

Syntax string.rindex(value, start, end)

# Parameter Values
* value---->Required. The value to search for
* start---->Optional. Where to start the search. Default is 0
* end--->Optional. Where to end the search. Default is to the end of the string

In [47]:
txt = "Hello, welcome to my world."
x = txt.rindex("e", 5, 10)
print(x)

8

In [52]:
txt = "Hello, welcome to my world."
x = ("e",3,5)
print(x)

('e', 3, 5)

# rjust()
* The rjust() method will right align the string, using a specified character (space is default) as the fill character.

Syntax string.rjust(length, character)

# Parameter Values
* length---=>Required. The length of the returned string
* character---->Optional. A character to fill the missing space (to the left of the string). Default is " " (space).

In [53]:
txt = "banana"
x = txt.rjust(20, "O")
print(x)

OOOOOOOOOOOOOObanana

In [55]:
x='apple'
x=txt.rjust(50,"9")
print(x)

99999999999999999999999999999999999999999999banana

# rpartition()
* The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

* The first element contains the part before the specified string.

* The second element contains the specified string.

* The third element contains the part after the string.

Syntax string.rpartition(value)

# Parameter Values
* value---->Required. The string to search for

In [57]:
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("apples")
print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

# rsplit()
* The rsplit() method splits a string into a list, starting from the right.

* If no "max" is specified, this method will return the same as the split() method.

(Note: When maxsplit is specified, the list will contain the specified number of elements plus one.)

Syntax string.rsplit(separator, maxsplit)

# Parameter Values
* separator----->Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator*
* maxsplit------>Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [59]:
txt = "apple, banana, cherry"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)
print(x)

['apple, banana', 'cherry']

In [61]:
x="pavan,shashi,shiva"
x=txt.rsplit(",",4)
print(x)

['apple', ' banana', ' cherry']

# rstrip()
* The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

Syntax string.rstrip(characters)

# Parameter Values
* characters------>Optional. A set of characters to remove as trailing characters

In [62]:
txt = "banana,,,,,ssqqqww....."
x = txt.rstrip(",.qsw")
print(x)

banana

In [63]:
 txt.rstrip(".....w")

'banana,,,,,ssqqq'

# split()
* The split() method splits a string into a list.

* You can specify the separator, default separator is any whitespace.

(Note: When maxsplit is specified, the list will contain the specified number of elements plus one.)

Syntax string.split(separator, maxsplit)

# Parameter Values
* separator------->Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
* maxsplit------->Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [64]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [65]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
x

['apple', 'banana', 'cherry', 'orange']

In [66]:
txt.split("#", 1) # setting the maxsplit parameter to 1, will return a list with 2 elements!

['apple', 'banana#cherry#orange']

# splitlines()
* The splitlines() method splits a string into a list. The splitting is done at line breaks.

Syntax string.splitlines(keeplinebreaks)

# Parameter Values
* keeplinebreaks------->Optional. Specifies if the line breaks should be included (True), or not (False). Default value is False

In [67]:
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines(True)
print(x)

['Thank you for the music\n', 'Welcome to the jungle']

# startswith()
* The startswith() method returns True if the string starts with the specified value, otherwise False.

Syntax string.startswith(value, start, end)

# Parameter Values
* value----->Required. The value to check if the string starts with
* start------>Optional. An Integer specifying at which position to start the search
* end----->Optional. An Integer specifying at which position to end the search

In [68]:
txt = "Hello, welcome to my world."
x = txt.startswith("wel", 7, 20)
print(x)

True

In [69]:
 txt.startswith("wel",)

False

# strip()
* The strip() method removes any leading, and trailing whitespaces.

* Leading means at the beginning of the string, trailing means at the end.

* You can specify which character(s) to remove, if not, any whitespaces will be removed.

Syntax string.strip(characters)

# Parameter Values
* characters------>Optional. A set of characters to remove as leading/trailing characters

In [72]:
# txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")
print(x)

banana

In [71]:
txt.strip("rr")

',,,,,rrttgg.....banana....'

# swapcase()
* The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

Syntax string.swapcase()

In [73]:
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

# title()
* The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

* If the word contains a number or a symbol, the first letter after that will be converted to upper case.

Syntax string.title()

In [74]:
txt = "Welcome to my 2nd world"
x = txt.title()
print(x)

Welcome To My 2Nd World

In [75]:
txt = "hello b2b2b2 and 3g3g3g"
x = txt.title()
print(x)

Hello B2B2B2 And 3G3G3G

# upper()
* The upper() method returns a string where all characters are in upper case.

* Symbols and Numbers are ignored.

Syntax string.upper()

In [76]:
txt = "Hello my friends"
x = txt.upper()
print(x)

HELLO MY FRIENDS

# zfill()
* The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

* If the value of the len parameter is less than the length of the string, no filling is done.

Syntax string.zfill(len)

# Parameter Values
* len----->Required. A number specifying the desired length of the string

In [77]:
a= "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

In [81]:
x='pavan'
y='sanju'
z='rakesh'
print(z.zfill(30))
print(y.zfill(40))
print(x.zfill(9))

000000000000000000000000rakesh
00000000000000000000000000000000000sanju
0000pavan